/* About.css */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.about-container {
  padding: 40px;
  font-family: "Play", sans-serif;
  text-align: center;
  background-color: #121212;
  color: #e0e0e0;
  width: 100vw;
  box-sizing: border-box;
  margin-top: 200px;
}

.about-header {
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: 700;
}

.about-description {
  font-size: 1.5rem;
  color: #b0b0b0;
  margin-bottom: 40px;
  line-height: 1.6;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.skill-item {
  background-color: #1e1e1e;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.skill-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.skill-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.skill-item p {
  font-size: 1.1rem;
  color: #e0e0e0;
  margin: 0;
  font-weight: 400;
}

.about-education,
.about-hobbies {
  margin-top: 40px;
}

.about-education h2,
.about-hobbies h2 {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 20px;
}

.about-education p,
.about-hobbies p {
  font-size: 1rem;
  color: #b0b0b0;
}
