/* App.css */

/* Apply background color and remove default margins/padding */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #121212; /* Dark background color */
}

/* Body styling with padding to accommodate fixed navbar */
body {
  font-family: "Play", sans-serif;
  color: #e0e0e0;
  padding-top: 40px; /* Padding to prevent overlap with fixed navbar */
}
/* Responsive padding for mobile view */
@media (max-width: 768px) {
  body {
    padding-top: 160px; /* Adjust padding for smaller screens */
  }
}

/* Global styles can be added here */
